axios
browser-image-compression
react-router-dom
jwt-decode
@yudiel/react-qr-scanner  
@vitejs/plugin-basic-ssl
@tiptap/react
@tiptap/starter-kit
@tiptap/extension-placeholder
dompurify
framer-motion
lucide-react
react-hot-toast
react-intersection-observer
terser # Install using npm install terser -D as it is required only during build, not during development.
