django>=5.2
celery==5.3.6
redis==5.0.1
mysqlclient==2.2.1
gunicorn==21.2.0
asgiref
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
qrcode
Pillow
django-cloudinary-storage
cloudinary
dj_database_url
