asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
default-libmysqlclient-dev
qrcode
Pillow
celery
redis
mysqlclient==2.2.1
django-cloudinary-storage
cloudinary
dj_database_url
gunicorn
