@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

html, body, #root {
    min-height : 100vh;
    width : 100%;
    margin : 0;
    padding : 0;
    background-color : #09090b;
    color : white;
    overflow-x : hidden;
}

@keyframes slide-up {
    from {
        transform : translateY(100%);
    }
    to {
        transform : translateY(0);
    }
}

@keyframes scan {
    0%, 100% {
        top : 0;
    }

    50% {
        top : 100%;
    }
}

@layer utilities {

    .custom-scrollbar::-webkit-scrollbar {
        width : 6px;
        height : 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background : transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background : #3f3f46;
        border-radius : 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background : #f97316;
    }

}

@theme {

    --animate-gradient-xy : gradient-xy 3s ease infinite;

    @keyframes gradient-xy {
        0%, 100% {
            background-size : 200% 200%;
            background-position : left center;
        }

        50% {
            background-size : 200% 200%;
            background-position : right center;
        }
    }

}

.animate-slide-up {
    animation : slide-up 0.3s ease-out forwards;
}

.ProseMirror p.is-editor-empty:first-child::before {
    color : #adb5bd;
    content : attr(data-placeholder);
    float : left;
    height : 0;
    pointer-events : none;
}

.ProseMirror ul {
    list-style-type : disc !important;
    padding-left : 1.5rem !important;
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
}

.ProseMirror ol {
    list-style-type : decimal !important;
    padding-left : 1.5rem !important;
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
}

.ProseMirror li p {
    margin : 0 !important;
    display : inline-block;
}

.perspective-1000 {
    perspective : 1000px;
}

.transform-style-3d {
    transform-style : preserve-3d;
}

.backface-hidden {
    backface-visibility : hidden;
    -webkit-backface-visibility : hidden;
}

.rotate-y-180 {
    transform : rotateY(180deg);
}

@layer base {

    /* Width of the scrollbar */
    ::-webkit-scrollbar {
        width : 8px;
        height : 8px;
    }

    /* Track (bg) of the scrollbar */
    ::-webkit-scrollbar-track {
        background : #09090b;
    }
    
    /* Moving part of the scrollbar */
    ::-webkit-scrollbar-thumb {
        background : #27272a;
        border-radius : 4px;
        border : 2px solid #09090b;
    }

    /* Hover state */
    ::-webkit-scrollbar-thumb:hover {
        background : #f97316; /* Orange-500 */
    }

    body, html {
        @apply bg-[#09090b] text-white selection:bg-pink-500 selection:text-white overflow-x-hidden;
    }

}
